<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/"><i class="fas fa-comment-dots"></i><b> Asquest</b></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="Navber">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>